# Mastering Python with Jupyter Notebook

This is our first program in Python

In [28]:
print("Hello World")

Hello World

$a^2+b^2=c^2$

That's using latex syntax

# Variabels

In [29]:
x = 3

In [30]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          float      1.2
c          complex    (2+4j)
d          int        9
f          int        34
string     str        El Psy CongrooSteins gate choice
x          int        3

In [31]:
print(type(x))

<class 'int'>

In [32]:
x = 5.7

In [33]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          float      1.2
c          complex    (2+4j)
d          int        9
f          int        34
string     str        El Psy CongrooSteins gate choice
x          float      5.7

In [34]:
abcd = 556.32

In [35]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
abcd       float      556.32
b          float      1.2
c          complex    (2+4j)
d          int        9
f          int        34
string     str        El Psy CongrooSteins gate choice
x          float      5.7

In [36]:
a,b,c,d,f = 5,1.2,1.0,9,34

In [37]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
abcd       float    556.32
b          float    1.2
c          float    1.0
d          int      9
f          int      34
string     str      El Psy CongrooSteins gate choice
x          float    5.7

In [38]:
del abcd

In [39]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
b          float    1.2
c          float    1.0
d          int      9
f          int      34
string     str      El Psy CongrooSteins gate choice
x          float    5.7

In [40]:
c = 2 + 4j

In [41]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          float      1.2
c          complex    (2+4j)
d          int        9
f          int        34
string     str        El Psy CongrooSteins gate choice
x          float      5.7

In [42]:
x += 100

In [43]:
print(x)

105.7

In [44]:
string = 'El Psy Congroo'

# Operators

In [45]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          float      1.2
c          complex    (2+4j)
d          int        9
f          int        34
string     str        El Psy Congroo
x          float      105.7

In [46]:
sum_ab = a + b

In [47]:
print(sum_ab)

6.2

In [48]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          float      1.2
c          complex    (2+4j)
d          int        9
f          int        34
string     str        El Psy Congroo
sum_ab     float      6.2
x          float      105.7

In [49]:
string += 'Steins gate choice'

In [50]:
print(string)

El Psy CongrooSteins gate choice

In [51]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          float      1.2
c          complex    (2+4j)
d          int        9
f          int        34
string     str        El Psy CongrooSteins gate choice
sum_ab     float      6.2
x          float      105.7

In [52]:
del sum_ab

In [53]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        5
b          float      1.2
c          complex    (2+4j)
d          int        9
f          int        34
string     str        El Psy CongrooSteins gate choice
x          float      105.7

In [54]:
print(b//c)

TypeError: unsupported operand type(s) for //: 'float' and 'complex'

In [ ]:
print(b//d)

In [ ]:
3x = 100

In [ ]:
@y = 12

In [ ]:
*t = 2

In [ ]:
_halo = 'hai'

In [ ]:
print(_halo)

variable name must be in snake case

example :

In [ ]:
starting_time = 0

# Boolean

In [ ]:
a = True
b = True
c = False

In [ ]:
%whos

In [ ]:
print(a and b)

In [ ]:
print(a or c)

In [ ]:
print(a and c)

In [ ]:
d = a or c
print(d)

In [ ]:
print(not d)

In [ ]:
w = ~a
print(w)

that's use for binary

# Comparisons

In [ ]:
print(2 < 3)

In [ ]:
print(2 == '2')

In [ ]:
print(2 == 'halo')

In [ ]:
print(2 > '2')

TypeError --> expression cannot evaluate because the different type of input
ValueError --> expression can evaluate but because some input made in cannot evaluate
ex : int('hello')

In [ ]:
variabel = int('halo')

In [ ]:
print(3 == 3.0 )

In [ ]:
print(3.1 === 3.1)

In [ ]:
print(3.1 == 3.1)

In [ ]:
f = 1 - 0.1 - 0.1 - 0.1
g = 0.7

In [ ]:
print(f == g)

that's round off error
abs(f-g)<1E-14

In [ ]:
#f is approximately equal to g
print(abs(f-g) < 1E-14)

# Some Useful Functions

### Round

In [ ]:
print(round(4.532535,3))

### Divmod

In [ ]:
divmod(22,10)

In [ ]:
divmod(27,5)

In [ ]:
G = divmod(27,5)

In [ ]:
type(G)

In [ ]:
G[0]

In [ ]:
G[1]

### Isinstance

In [ ]:
isinstance(3.4,float)

In [ ]:
isinstance(2,int)

In [ ]:
isinstance('as',str)

In [ ]:
isinstance(12,float)

In [ ]:
isinstance(12,(int,float))

### Pow

In [ ]:
pow(2,4,7)

2 dipangkat 4 lalu dimodulus 7

x ** y % z

### Input

In [ ]:
user_input = input("Masukkan Nilai : ")

In [ ]:
print(f"User mengisi dengan {user_input}")

In [ ]:
pow?

Untuk mencari tahu tentang fungsi

In [ ]:
pow??

sama saja dengan yang diatas

In [ ]:
help(divmod)

`Untuk mencari tahu tentang fungsi juga

# Control Flow

In [ ]:
#Control Flow Program 1
"""
Program akan mencari data yang terbesar dari data yang diinput oleh user dan sekaligus memvalidasi
apakah data int atau bukan
"""

valid = False 
while not valid:
    try:
        num1 = int(input("Enter a number : "))
        num2 = int(input("Enter a number : "))
        if num1 > num2 :
            print(f"The biggest number is {num1}")
        else :
            print(f"The biggest number is {num2}")
        valid = True
    except ValueError:
        print("Input must be an integer")

In [ ]:
#Control Flow Program 2
"""
Program akan menjumlahkan semua nilai yang dilist
"""
isDone = False
sum = 0
while not isDone:
    try:
        num = int(input("Enter a number (-1 -> Stop): "))
        if num == -1:
            isDone = True
        else:
            sum += num
    except ValueError:
        print("Input must be an integer")
        
print(f"Total = {sum}")

In [ ]:
Word_list = ["EL",'PSY','CONGROO']
for word in Word_list :
    print(word , end = ' ')

# Functions

### Example

In [ ]:
def palindrom(str):
    """Mengecek apakah string yang dimasukkan palindrom atau bukan"""
    return str == str[::-1]

In [ ]:
my_str = input('Enter a word : ')
print(palindrom(my_str))

In [ ]:
import test
nilai = test.sum(100,12)
print(nilai)

In [ ]:
palindrom?

Bisa Mengecek Fungsi tersebut gunanya apa

Jadi biasakan pakai docstring

In [ ]:
help(palindrom)

### *args in Function

example :

In [ ]:
def add(*args):
    """Menjumlahkan semua angka di parameter fungsi"""
    sum = 0
    for i in range(len(args)):
        sum += args[i]
    return sum

In [ ]:
print(add(1,2,4,14,1341,513,1))

#### or can be implement like this

In [ ]:
def add(*args):
    """Menjumlahkan semua angka di parameter fungsi"""
    sum = 0 
    for num in args:
        sum += num
    return sum

In [ ]:
print(add(1,2,4,14,1341,513,1))

In [ ]:
def func(*args):
    print(args)

In [ ]:
func('Ohaa','Tuturu')

#### so *args is a tuple --> list but immutable

#### tidak harus *args bisa juga *data atau yang lainnya

###  **arg in Function

In [ ]:
def function(**argument):
    for key in argument:
        print(f"{key} --> {argument[key]}")
    print(argument)

In [ ]:
function(arg1 = 'Ohaa',arg2 = 'Tutturu')

#### so the **args is a dictionary

### Default values in Functions

In [ ]:
def display(num = 0):
    print(num)

In [ ]:
display()
display(12)

## Modules

#### Harus dalam python file

#### Cara import

#### Cara 1

In [ ]:
import sys 
sys.path.append('D:\Pemrograman\Jupyter Notebook')
import test

In [ ]:
nilai = test.sum_all(1,213,141,414)
print(nilai)

#### Cara 2 (jika dalam folder yang sama)

In [ ]:
import test

In [ ]:
print(test.sum(1,2))

## String

In [ ]:
s = 'Ohaa'

In [ ]:
type(s)

In [ ]:
a = """This is line 1
This is line 2
This is line 3
"""

In [ ]:
type(a)

In [ ]:
print(a)

In [ ]:
w = 'KASURnababanRuSak'

In [ ]:
print(w[::-1])

In [ ]:
q = ' Ada spaces di awal dan di akhir '
print(q.strip())

In [ ]:
q = 'Kurisu Tohsaka Asuna'
c = q.lower()
d = q.upper()

In [ ]:
print(c)
print(d)

In [ ]:
e = q.replace('Asuna','Venti')

In [ ]:
print(e)

In [ ]:
f = q.split()
print(f)

In [ ]:
h = '\/'.join(f)

In [ ]:
print(h)

In [ ]:
b = q.count('u')

In [ ]:
print(b)

In [ ]:
r = 'Kurisu' in 'I Love Makise Kurisu'

print(r)

In [ ]:
truth = 'Kurisu' > 'Hinata'
print(truth)

In [ ]:
print(f"C:\Drive\\name")

## Data Structures

List --> Ordering(punya index) , Mutable , Duplicates

Tuple --> Ordered, Immutable,Duplicates

Set --> Unordered,addable/removable,no duplicates

Dictionary --> Unordered, Mutable ,No Duplicate

In [55]:
set_a = {1,2,3,41,1}

print(set_a)

{1, 2, 3, 41}

In [56]:
print(set_a[0])

TypeError: 'set' object is not subscriptable

In [57]:
set_a.add(121)

print(set_a)

{1, 2, 3, 41, 121}

In [58]:
L = [1,2,3,4,5]
T = (1,2,3,4,5)
S = {1,2,3,4,5}
D = {'KEY1': 1,
    'KEY2':2,
    'KEY3':3,
    'KEY4':4,
    'KEY5':5}

In [59]:
print(L)
print(type(L))
print(T)
print(type(T))
print(S)
print(type(S))
print(D)
print(type(D))

[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>
{1, 2, 3, 4, 5}
<class 'set'>
{'KEY1': 1, 'KEY2': 2, 'KEY3': 3, 'KEY4': 4, 'KEY5': 5}
<class 'dict'>

In [60]:
T = T + (12,121,21)
print(T)

(1, 2, 3, 4, 5, 12, 121, 21)

In [61]:
help(S.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

In [62]:
del L[0]
print(L)

[2, 3, 4, 5]

In [63]:
S.update({1,12,11212,121200})

In [64]:
print(S)

{1, 2, 3, 4, 5, 11212, 12, 121200}

In [65]:
D['KEY6'] = 'Kurisu'

In [66]:
del D['key6']

KeyError: 'key6'

In [67]:
print(D)

{'KEY1': 1, 'KEY2': 2, 'KEY3': 3, 'KEY4': 4, 'KEY5': 5, 'KEY6': 'Kurisu'}

In [68]:
S.remove(11212)
print(S)

{1, 2, 3, 4, 5, 12, 121200}

In [69]:
L2 = L.copy()
S2 = S.copy()
D2 = D.copy()

print(L2,S2,D2)

[2, 3, 4, 5] {121200, 1, 2, 3, 4, 5, 12} {'KEY1': 1, 'KEY2': 2, 'KEY3': 3, 'KEY4': 4, 'KEY5': 5, 'KEY6': 'Kurisu'}

In [70]:
L2[0] = 'kURISU'

In [71]:
print(L,L2)

[2, 3, 4, 5] ['kURISU', 3, 4, 5]

In [72]:
L2.append('Kurisu-chan')

In [73]:
print(L2)

['kURISU', 3, 4, 5, 'Kurisu-chan']

## Latihan Data Structure

In [78]:
def get_data_students():
    data_students = {}
    while True:
        student_id = input("Enter student id : ")
        students_marks = input("Enter student marks with comma separated value : ").split(',')
        if student_id in data_students.keys():
            print(f"Student Id ({student_id}) is already inserted")
        else :
            data_students[student_id] = students_marks
            is_continue = input("Continue (yes/no)?").lower()
            if is_continue == 'no':
                return data_students

In [82]:
def get_avg_marks(data_students):
    data_avg_marks = {}
    for data in data_students:
        data_marks = data_students[data]
        sum = 0
        for mark in data_marks :
            sum += int(mark)
        data_avg_marks[data] = sum/len(data_marks)
        
    return data_avg_marks

In [83]:
data_students = get_data_students()
data_avg_marks = get_avg_marks(data_students)
for x in data_avg_marks:
    print(f"Student Id : {x} , get avg marks : {data_avg_marks[x]}")

Enter student id : 12
Enter student marks with comma separated value : 100,90,91,99
Continue (yes/no)?yes
Enter student id : 13
Enter student marks with comma separated value : 100,90,98,87
Continue (yes/no)?no
Student Id : 12 , get avg marks : 95.0
Student Id : 13 , get avg marks : 93.75